// place your custom styles here

.vp-hero-image {
    display: ruby-base;
    max-width: 100%;
    max-height: 18rem;
    margin: 1rem;
    // padding: 10px 20px;
    // border: none;
    // font-size: 17px;
    // color: #fff;
    // border-radius: 7px;
    // letter-spacing: 4px;
    // font-weight: 700;
    // text-transform: uppercase;
    // transition: 0.5s;
    // transition-property: box-shadow;
}