// place your custom styles here
// #main-title {
//     font-size: 35px;
//     text-align: center; /* Centra el texto horizontalmente dentro del elemento */
//     padding-top: 40px;
// }

#main-description {
    font-size: 25px;
    text-align: center; /* Centra el texto horizontalmente dentro del elemento */
}

.vp-hero-image {
    display: ruby-base;
    max-width: 100%;
    max-height: 18rem;
    margin: 1rem;
    // padding: 10px 20px;
    // border: none;
    // font-size: 17px;
    // color: #fff;
    // border-radius: 7px;
    // letter-spacing: 4px;
    // font-weight: 700;
    // text-transform: uppercase;
    // transition: 0.5s;
    // transition-property: box-shadow;
}

// .vp-hero-image {
//     background: rgb(0,140,255);
//     box-shadow: 0 0 1px rgb(0,140,255);
//   }
